a.app-name-link img {
    max-width: 150px;
}

#features-support ~ table th {
    color: blue;
    transform: rotate(-90deg);
    /*vertical-align: bottom;*/
    text-align: center;
    white-space: nowrap;
    height: 200px;
    width: 50px;
}

/* fix youtube iframes */
iframe {
    min-width: auto!important;
    width: 640px!important;
    max-width: 100%;
}

body {
    font-size: 18px;
}

.sidebar ul li a {
    font-size: 16px;
}
